<link rel="stylesheet" href="/css/site.css" />

<div class="card">
    <h2>Add Kid</h2>

    <form method="post">
        <input name="Name" placeholder="Kid Name" required />
        <input name="School" placeholder="School" required />
        <input name="ParentPhone" placeholder="Parent Phone" required />

        <button type="submit">Save</button>
    </form>
    </form>
</div>