<link rel="stylesheet" href="/css/site.css" />

<div class="card">
    <h2>Kids List</h2>

    <a href="/Kids/Add">+ Add Kid</a>

    @foreach (var kid in Model)
    {
        <div style="margin-top:10px;">
            <b>@(kid.Name ?? "No Name")</b><br />
            <img src="/QR/Generate/@kid.Id" width="100" />
        </div>
    }
</div>